@namespace cursor url("urn:tdtxt:names:cursor");
@namespace page url('urn:tdtxt:names:page');
@namespace w url("http://schemas.openxmlformats.org/wordprocessingml/2006/main");
@namespace wp url('http://schemas.openxmlformats.org/drawingml/2006/wordprocessingDrawing');
@namespace pic url("http://schemas.openxmlformats.org/drawingml/2006/picture");

html {
    background: rgb(221,221,221);
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    color: #000000;
    width: auto;
    height: auto;
    margin: auto;
    font-family: Arial;
    font-size: 12pt;
}

#documentcontainer {
    display:block;
    width: 100%;
    height:100%;
    overflow: auto;
}

#canvas{
    position:relative;
    display:block;
    background-color: rgb(255,255,255);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(204,204,204,1);
    margin: auto;
    width:21.001cm;
    max-width: 100%;
    min-width: 50%;
    min-height: 29.7cm;
}
#tdcontainer
{
    position:relative;
    overflow: hidden;
}

/* w namespace */
w|body {
    display:block;
    position: relative;
    padding: 12%;
    overflow-x: hidden;
}
w|document{
    display:block;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 29.7cm;
}
::selection {background:transparent;}

w|p {
    display: block;
    color: #000000;
    word-wrap: break-word;
    white-space: pre-wrap;
    -o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    overflow: visible;
    cursor:text;
}
w|p::after {
    content: "\200B";
    white-space: pre;
}
/** header and footer **/
#TD-headerContainer
{
    display:block;
    visibility: hidden !important;
}
#TD-footerContainer
{
    display:block;
    visibility: hidden !important;
}

w|del{
    display: none;
}
/*w|br {*/
    /*display:block;*/
/*}*/
w|drawing {
    display: block;
}
w|t {
    word-wrap: break-word;
    white-space: pre-wrap;
    width:100%;
}
/** Not catching tags on dom **/
w|instrText {
    white-space: pre-wrap;
    word-wrap: break-word;
    display:none;
}
/** had to put this here because w|instrtext is not working  **/
w|r {
    word-wrap: break-word;
    white-space: pre-wrap;
    width:100%;
}
/** popovers **/
.popover-menu
{
    z-index:99;
}
.popover-menu ul
{
    margin:0;
    padding-left:15px;
    list-style-type: none;
    background-color: rgb(0,173,238);
    -webkit-box-shadow: 2px 2px 8px 6px rgba(0,0,0,0.06);
    -moz-box-shadow: 2px 2px 8px 6px rgba(0,0,0,0.06);
    box-shadow: 2px 2px 8px 6px rgba(0,0,0,0.06);
    color:rgb(255,255,255);
}
.popover-menu li
{
    cursor: pointer;
    margin:0;
    font-size: 12pt;
    padding: 10px 10px 10px 0;
}
.popover-menu li:not(:last-child)
{
    border-bottom: solid rgb(255,255,255) 1px;
}
.tablePlusBtnTop
{
    cursor:pointer;
    float: right;
    display:block;
    height: 100%;
}
.tablePlusBtnLeft
{
    cursor:pointer;
    float: right;
    display:block;
    width: 50%;
}
/* Tables */
w|tbl{
    display: table;
    max-width: 100%;
}
w|tr{
    border: 1px solid black;
    display: table-row;
}
w|tr > trPr, w|tc > tcPr
{
    display:none;
}
w|tc{
    border: 1px solid black;
    display: table-cell;
}
#table-container-view
{
    visibility: hidden;
    display:block;
    position:absolute;
    font-size: 10px;
    color: #7f7f7f;
}
#table-container-view > #top-table-view
{
    visibility: visible;
    position: absolute;
    height: 15px;
    line-height:15px; /*same as height to center*/
    width: 100%;
    top:-20px;
    margin:0;
    padding:0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #b9b9b9;
    background-color: #ffffff;
    -webkit-box-shadow: #9a9a9a 1px 1px 1px;
    -moz-box-shadow: #9a9a9a 1px 1px 1px;
    box-shadow: #9a9a9a 1px 1px 1px;

}
#table-container-view > #top-table-view li
{
    height: 100%;
    border-left: 1px solid #b9b9b9;
    text-align: center;
    list-style: none inside;
    counter-increment: table-interface-step-counter-top;
}
#table-container-view > #top-table-view li:first-child
{
    border-left: none;
}
#table-container-view > #top-table-view li:before
{
    text-align: center;
    content: counter(table-interface-step-counter-top,upper-alpha);
}
#table-container-view > #left-table-view
{
    visibility: visible;
    position: absolute;
    left:-20px;
    width: 15px;
    height: 100%;
    margin:0;
    padding:0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
    flex-direction:column;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #b9b9b9;
    background-color: #ffffff;
    -webkit-box-shadow: #9a9a9a 1px 1px 1px;
    -moz-box-shadow: #9a9a9a 1px 1px 1px;
    box-shadow: #9a9a9a 1px 1px 1px;
}
#table-container-view > #left-table-view li
{
    width: 100%;
    border-top: 1px solid #b9b9b9;
    text-align: center;
    list-style: none inside;
    counter-increment: table-interface-step-counter-left;
}
#table-container-view > #left-table-view li
{
    width: 100%;
    border-top: 1px solid #b9b9b9;
    text-align: center;
    list-style: none inside;
    counter-increment: table-interface-step-counter-left;
}
#table-container-view > #left-table-view li:first-child
{
    border-top:none;
}
#table-container-view > #left-table-view li::before
{
    text-align: center;
    content: counter(table-interface-step-counter-left)
}
#table-container-view li[active]
{
    background-color: #00b3fa;
}
/* Force to not render*/
w|lastRenderedPageBreak, w|pPr , w|rPr
{
    display:none;
}
/* drawing namespace */
wp|anchor
{
    display:none;
}

/* cursor */
cursor{
    display:none;
}
cursor[caret-active]
{
    display:inline;
}
.caret-container {
    display:block;
    visibility: hidden !important;
}
.caret-blink {
    opacity: 1;
    -webkit-animation: 1s cursorBlink step-end infinite;
    -moz-animation: 1s cursorBlink step-end infinite;
    -ms-animation: 1s cursorBlink step-end infinite;
    -o-animation: 1s cursorBlink step-end infinite;
    animation: 1s cursorBlink step-end infinite;
    z-index: 99;
}
.caret-no-blink
{
    opacity: 1;
    z-index: 99;
}
.TD-caretSizer {
    display:inline-block;
    width:0;
    visibility:hidden;
}
@-moz-keyframes cursorBlink {
    0%   { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes cursorBlink {
    0%   { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes cursorBlink {
    0%   { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes cursorBlink {
    0%   { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes cursorBlink {
    0%   { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#TD-selectionOverlay {
    display:none;
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 15;
}
#TD-selectionOverlay > polygon {
    fill-opacity: 0.3;
    stroke-opacity: 0.8;
    stroke-width: 1;
    fill-rule: evenodd;
    fill: #00b3fa;
}
#TD-tableSelectionOverlay {
    display:none;
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 15;
}

#TD-tableSelectionOverlay > polygon {
    fill:transparent;
    stroke-opacity: 0.8;
    stroke-width: 5;
    stroke: #00b3fa;
}
#TD-selectionOverlay > .TD-draggable {
    fill: #00b3fa;
    fill-opacity: 0.8;
    stroke-opacity: 0;
    stroke-width: 8;
    pointer-events: visible;
    display: none;
    -moz-transform-origin: center center;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    z-index: 20;
}
.TD-drag-table {
    pointer-events: visible;
    display: none;
    -moz-transform-origin: center center;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    z-index: 20;
}
#TD-drag-table-both{
    cursor: nwse-resize;
}
#TD-drag-table-height{
    cursor: ns-resize;
}
#TD-drag-table-width{
    cursor: ew-resize;
}
.TD-table-resize-line
{
    stroke:red;
    stroke-width: 1;
}

#TD-imageOverlay {
    display:none;
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 20;
}
#TD-imageOverlay > polygon {
    fill-opacity: 0.1;
    stroke-opacity: 0.8;
    stroke-width: 1;
    fill-rule: evenodd;
    fill: #00b3fa;
}
#TD-imageOverlay > .TD-draggable {
    fill: #00b3fa;
    fill-opacity: 0.8;
    stroke-opacity: 0;
    stroke-width: 8;
    pointer-events: visible;
    display: none;
    -moz-transform-origin: center center;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    z-index: 20;
}
.TD-drag-table {
    pointer-events: visible;
    display: none;
    -moz-transform-origin: center center;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    z-index: 20;
}
#TD-drag-table-both, #TD-drag-img1, #TD-drag-img3{
    cursor: nwse-resize;
}
#TD-drag-table-height{
    cursor: ns-resize;
}
#TD-drag-table-width{
    cursor: ew-resize;
}
#TD-drag-img2, #TD-drag-img4{
    cursor: nesw-resize;
}
.TD-table-resize-line
{
    stroke:grey;
    stroke-width: 1;
}
/** pagination **/
page|section {
    position: relative;
    display: block;
    min-width: 135%;
    height: 0.5cm;
    left: -18%;
    background-image: linear-gradient(rgba(221, 221, 221,1),rgba(221, 221, 221,1)),
    linear-gradient(rgba(221, 221, 221,0),rgba(221, 221, 221,0));
    background-clip: content-box, padding-box;
}
/** header & footer **/
w|hdr
{
    display:block;
}
w|fdr
{
    display:block;
}
.header-picker-box
{
    display:block;
    cursor: not-allowed;
    position:relative;
    border-bottom: solid #b4b4b4 1px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.footer-picker-box{
    display:block;
    cursor: not-allowed;
    position:relative;
    border-top: solid #b4b4b4 1px;
    padding-top: 5px;
    margin-top: 15px;
}
.header-picker-box > *, .footer-picker-box > * {
    display:none;
}
.popover-hf
{
    z-index:99;
}
.popover-hf ul
{
    margin:0;
    padding-left:15px;
    list-style-type: none;
    background-color: rgb(0,173,238);
    -webkit-box-shadow: 2px 2px 8px 6px rgba(0,0,0,0.06);
    -moz-box-shadow: 2px 2px 8px 6px rgba(0,0,0,0.06);
    box-shadow: 2px 2px 8px 6px rgba(0,0,0,0.06);
    color:rgb(255,255,255);
}
.popover-hf li
{
    cursor: pointer;
    margin:0;
    font-size: 12pt;
    padding: 10px 10px 10px 0;
}
.popover-hf li:not(:last-child)
{
    border-bottom: solid rgb(255,255,255) 1px;
}
.close-popover
{
    display:block;
    cursor:pointer;
    position: absolute;
    float: right;
}
.header-picker-box .close-popover
{
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    right: -11px;
    bottom: -11px;
}
.footer-picker-box .close-popover
{
    right: -11px;
    top: -11px;
}
.plusBtn {
    display:block;
    cursor:pointer;
    position: absolute;
    float: right;
    right: 0;
    display:block;
}
.header-picker-box > .plusBtn
{
    bottom:0px;
}
.footer-picker-box > .plusBtn
{
    top:0px;
}
#TD-headerContainer
{
    display:block;
    visibility: hidden !important;
}
#TD-footerContainer
{
    display:block;
    visibility: hidden !important;
}
/** page breaks **/
w|br:not([w|type="page"]):after {
    content: '\A';
}
/** footnotes **/
w|footnoteReference
{
    cursor: pointer;
}
.TD-box-footnotes
{
    display:none;
    background-color:#cdf1ff;
    border: 1px solid #03a0da;
    width: 21.001cm;
    max-width: 100%;
}
.TD-footnoteCloseBtn {
    cursor: pointer;
    position: absolute;
    right: -10px;
    top:-10px;
    color: #FFFFFF;
    font-size: 9pt;
}
.TD-footnoteDelBtn {
    cursor: pointer;
    position: absolute;
    left: -10px;
    bottom:-10px;
    color: #FFFFFF;
    font-size: 9pt;
}
figure{
    cursor:not-allowed;
    margin: 0;
    padding: 0;
}
/** hyperlink **/
w|hyperlink:hover {
    cursor: pointer;
}
/* TOC: page numbers*/
.TD-tocPageNum {
    float:right;
    cursor: pointer;
}
.TD-tocBullet, .TD-tocTitle {
    cursor: pointer;
}
/** delete this **/
.toolbar {
    position: fixed;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    padding: 5px 10px; /* some styling, please note overall height of the object will be 35px due to 5px padding on top/bottom. */
    background: #00a7cc; /* some styling */
    border-bottom: 1px solid #333; /* some styling */
    color: black;
    z-index: 100;
}

.formatToolbar {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
}
