@namespace w url("http://schemas.openxmlformats.org/wordprocessingml/2006/main");

html {
    background: rgb(221,221,221);
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#documentcontainer {
    display:block;
    width: 100%;
    height:100%;
    overflow: auto;
}

.toolbar {
    position: fixed;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    padding: 5px 10px; /* some styling, please note overall height of the object will be 35px due to 5px padding on top/bottom. */
    background: #00a7cc; /* some styling */
    border-bottom: 1px solid #333; /* some styling */
    color: black;
    z-index: 100;
}

.formatToolbar {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
}
